body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15rem;
    background-color: black;
}

.cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
h2{ text-align: center;
    background:linear-gradient(to right, rgba(166, 4, 236, 0.819), rgb(9, 167, 235));
    background-clip: text;
    color: transparent;
    font-size: 5rem;
}
button{
    border-radius: 2rem;
    height: 55px;
    background-color: rgb(64, 130, 246);
    margin: 1rem;
    position: relative;
}
.material-symbols-outlined{
    color: azure;
}
img{
    align-self: center;
    width: 144px;
    height: 144px;
    background-clip: text;
}
.icon {
    font-size: 224px; /* Adjust size as needed */
    color: transparent;
    background:linear-gradient(to right, rgba(166, 4, 236, 0.819), rgb(9, 167, 235));
    background-clip: text;
  }

